.nav-item {
  margin-left: 30px;
}
.bg-light {
  background-color: #000!important;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-brand {
  color: white;
}
.contact {
  border-radius: 20px;
  background-color: white;
  color: black!important;
}
.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: black;
  border:none;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}
